.header {
  width: 100%;
  height: 10%;
  border-radius: 40px;
  display: flex;
  text-align: center;
  vertical-align: center;
  background-color:rgba(10,10,10,0.4);
}

#backButton {
  position: fixed;
  font-size:40px;
  color:white;
  margin-top:8px;
  margin-left:10px;
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px;
  border-color: white;
  outline: none;
}

.teamAttribute {
  text-transform: uppercase;
  margin:2% auto auto auto;
  height:60px;
  width: 300px;
  background: white;
  line-height: 60px;
  text-align: center;
  vertical-align: center;
  border-radius: 50px;
  color: black;
  font-size:40;
  font-weight:700;
  box-shadow: 2px 2px 5px rgba(220, 220, 220,0.7);
}

#teamId {
  line-height:35px;
  text-align: center;
  vertical-align: center;
  display: inline-block;
  margin: auto 0px auto auto;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid white;
  background: none;
  color: white;
  font-size:20px;
}

span {
  font-size: 40;
  font-weight: 700;
  color: white;
  margin: auto auto auto 2%;
  display:inline-block;
}

.playerCard {
  height: 450px;
  width: 300px;
  line-height: 20pt;
  text-align: center;
  border-radius: 5px;
  color: black;
}

label.player {
  margin-top: 2px;
  border-radius: 20px;
  height: 10px;
  width: 260px;
  color: white;
  background: grey;
  transition: 0.3s;
}

.teamCard {
  margin-left: 15%;
  height: 500px;
  width: 300px;
  float: left;
  line-height: 20pt;
  text-align: center;
  background: white;
  opacity: 0.7;
  border-radius: 5px;
  display: inline-block;
  color: black;
  box-shadow: 5px 5px 5px grey;
}


.container {
  margin-top: 2%;
  height: 85%;
  overflow:scroll;
  background-color: rgba(220, 220, 220,0.7);
}

.editMatch {
  position:fixed;
  width: 70px;
  height: 70px;
  margin-left: 89%;
  margin-top: 1%;
  margin-right: 1%;
  border: 2px solid #4CAF50;
  border-radius: 50%;
  font-size: 40px;
}

#start {
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 0;
  background: none;
  border: 2px solid red;
  text-align:center;
  border-radius: 50%;
  font-size: 15px;
  width: 30px;
  height: 30px;
  color: black;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

.blank {
 height: 500px;
 width: 50px;
 background:white;
}

.container input[type=checkbox] {
  display:none;
}

.container::-webkit-scrollbar { 
  display: none; 
} 

input[type=checkbox]:checked + .player {
  background: rgb(57,255,20,0.7);
}

button[type=submit] {
margin:auto;
 height: 150px;
 width: 150px;
 background:black;
 color: white;
}

html,body {
  background: rgba(220, 220, 220,0.7);
  font-family:  Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
