html,body {
  color: aquamarine;
  font-family:  Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.arrow-left {
  height: 100px;
  width: 100px;
  outline: none;
}

.header {
  width: max-width;
  height: 10%;
  background-color: rgba(0,0,0,0.7);
}

.form {
  background: red;
  border-color:rgb(255,255,225,0.5);
  border-radius: 2%;
  margin-left: 25%;
  align-content: center;
  width: 45%;
  height: 90%;
  background: black;
  opacity: 0.9;
}

input[type=text] {
  outline: none;
  border:2px solid #3498db;
  border-radius: 20px;
  border-color:rgb(255,255,225,0.7);
  text-align: center;
  background: none;
  color: aquamarine;
}

input[type=text]:focus {
  transform: scale(1.3);
}

input[type=number] {
  outline: none;
  border:2px solid #3498db;
  border-radius: 20px;
  border-color:rgb(255,255,225,0.7);
  text-align: center;
  background: none;
  color: aquamarine;
}

input[type=number]:focus {
  transform: scale(1.3);
}
#address {
  width: 300px;
}

input[type=submit] {
  outline: none;
  border:2px rgb(255,255,225,1);
  border-radius: 20px;
  background:rgb(255,255,225,1);
  text-align: center;
  height: 30px;
  color: black;
}

option {
  outline: none;
  border-radius: 20px;
  background-color: black;
  border-color:rgb(255,255,225,0.7);
  color: aquamarine;
}

select {
  outline: none;
  border-radius: 20px;
  background-color: black;
  border-color:rgb(255,255,225,0.7);
  color: aquamarine;
}


input[type=date] {
  outline: none;
  border-radius: 20px;
  background: black;
  border-color:rgb(255,255,225,0.7);
  color: aquamarine;
}

input[type=date]:focus {
  transform: scale(1.3);
  background: black;
  color: white;
}

input[type=radio] {
  outline: none;
  background: black;
  color: aquamarine;
}

.container {
  background:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(100, 100, 100, 0.5)), url("images/seven.jpg");
  background-size: cover;
  opacity: 0.9;
  width:max-width;
  height: 80%;
}

table {
  margin-left: 7%;
  transition: 0.5s;
}

td {
  padding:5px;
} 

#backButton {
  background: none;
  border: none;
  outline: none;
}

.footer {
  width: max-width;
  height: 10%;
  background-color: rgba(0,0,0,0.7);
}
