.header {
  width:max-width;
  height: 15%;
  background-color:rgba(0,0,0,0.7);
}

.form {
 justify-content: center;
}

.container {
  width:max-width;
  height: 75%;
  background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)), url("images/image.jpg");
  background-size: cover;
  opacity: 0.8;
  justify-content: center;
}

#blank {
  height: 5%;
  width: max-width;
}

.footer {
  width:max-width;
  height: 10%;
  background-color:rgba(0,0,0,0.7);
}  

html, body {
  height:100%;
  font-family: "Trebuchet MS",Geneva, sans-serif;
}
