.header {
  width: 100%;
  height: 20%;
  background: rgba(220, 220, 220,0.7);
}
.container {
  width: 100%;
  height: 50%;
  background: rgba(220, 220, 220,0.7);
}
.scorecard {
  width: 100%;
  height: 20%;
  background: rgba(220, 220, 220,0.7);
}
.blank {
  width: 100%;
  height: 2%;
  background: transparent;
}
.score {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;
  position: absolute;
  height: 100px;
  z-index: 1;
  border-radius: 50%;
  background: orange;
  display: flex;
  align-items: center;
  vertical-align: middle;
  color: white;
}
span {
  margin: auto;
  text-align: center;
}

#batsman-stat {
  margin-right: 30px;
  background:white;
  float: right;
  display: inline-block;
  height: 100%;
  width: 30%
}

#bowl {
  width: 50px;
  height: 50px;
  margin-left: 40%;
  margin-top: 60%;
  border-radius: 50%;
  outline: none;
  display: block;
}

#chooseBowler {
  left: 0;
  top: 0;
  position: fixed;
  margin: 20% 45%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  z-index: 2;
  display: none;
}

#chooseBatsman {
  left: 0;
  top: 0;
  position: fixed;
  margin: 20% 45%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  z-index: 3;
  display: none;
}


#ball-outcome {
  display: inline-block;
  height: 100%;
  width: 30%
}

#bowler-stat {
  margin-left: 30px;
  background:white;
  float: left;
  display: inline-block;
  height: 100%;
  width: 30%
}

#model {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  position: fixed;
  display: none;
  background-color:rgba(0,0,0,0.4);
}

#delivery-result {
  background:burlywood;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin:20% 40%;
}

#team-names {
  width: 100%;
  height: 5%;
  margin-top: 3%;
  margin-bottom: 3px;
}

#batting-team-name {
  display: inline-block;
  float: left;
  height: 100%;
  border-radius: 25px;
  margin-left: 40px;
  width: 30%;
  text-align: center;
  line-height: 33px;
  background:burlywood;
}

#bowling-team-name {
  display: inline-block;
  float: right;
  border-radius: 25px;
  margin-right: 40px;
  height: 100%;
  width: 30%;
  text-align: center;
  line-height: 33px;
  background:burlywood;
}


.batting-detail {
  margin-bottom:5;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 35%;
  border-radius: 30px;
  color: white;
  background: grey;
}

#firstBatsman {
  padding: 2px;
  float:left;
}

#secondBatsman {
  padding: 2px;
  float:right;
}

.bowling-detail {
  margin: 0 auto;
  border-radius: 30px;
  width: 80%;
  height: 35%;
  color: white;
  background: grey;
  text-align: center;
  line-height: 35%;
}

#firstBatsman-score {
  margin: 0 20;
  display: inline-block;
  float:left;
}

#secondBatsman-score {
  margin: 0 20;
  display: inline-block;
  float: right;
}

#bowler {
  display: inline-block;
  float:left;
}

#over-detail {
  display: inline-block;
  float:right;
  padding: 2px;
}

.ball-detail {
  display: inline-block;
  color: black;
  background: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  line-height: 25px;
}

span {
  margin: auto;
}

html,body {
  background: rgba(220, 220, 220,0.7);
  font-family:  Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
