.header {
  width:max-width;
  height: 15%;
  background-color:rgba(0,0,0,0.7);
}

#webPageName {
  color: brown;
  text-align: left;
  line-height: 100px;
  vertical-align: middle;
}

.container {
  width:max-width;
  height: 75%;
  background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)), url("images/image.jpg");
  background-size: cover;
  opacity: 0.8;
  justify-content: center;
}

#blank {
  height: 5%;
  width: max-width;
}

.player {
  margin: 5% 0% 3% 13%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url("images/player2.png");
  float: left;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.player:hover {
  transform: scale(1.3);
  border-color: rgba(255, 215, 0, 1);
  background: rgba(255, 215, 0, 1);
}

#player-text {
  visibility: hidden;
  color: rgba(255, 215, 0, 1);
}

.player:hover #player-text {
  visibility: visible;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  color: rgba(0, 0, 0, 1);
  font-size: 50px;
  font-weight: 600;
  
}

.team {
  margin: 3% 0% 3% 15%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url("images/team2.png");
  float: left;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.team:hover {
  transform: scale(1.3);
  background: rgba(255, 215, 0, 1);
}

#team-text {
  visibility: hidden;
  color: rgba(255, 215, 0, 1);
}

.team:hover #team-text{
  visibility: visible;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  color: rgba(0, 0, 0, 1);
  font-size: 50px;
  font-weight: 600;
}

.match {
  margin: 3% 0% 3% 15%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url("images/versus.png");
  float: left;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.match:hover {
  transform: scale(1.3);
  background: rgba(255, 215, 0, 1);.
}

#match-text {
  visibility: hidden;
}

.match:hover #match-text {
  visibility: visible;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  color: rgba(0, 0, 0, 1);
  font-size: 50px;
  font-weight: 600;
}

#welcome_note {
  margin: 0%;
  padding: 0%;
  color: rgba(240, 240, 214, 1);
  letter-spacing: 4px;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

#welcome_note span {
  color: rgba(255, 215, 0, 1);
}

.footer {
  width:max-width;
  height: 10%;
  background-color:rgba(0,0,0,0.7);
}  

html, body {
  height:100%;
  font-family: "Trebuchet MS",Geneva, sans-serif;
}
/* purple color-rgba(210, 77, 225, 0.6)*/
