.header {
  width: 100%;
  height: 10%;
  border-radius: 40px;
  display: flex;
  text-align: center;
  vertical-align: center;
  background-color:rgba(10,10,10,0.4);
}

.teamAttribute {
  margin-top: 3%;
  margin-left: 3%;
  height: 10%;
  width: 100%;
  
}

#backButton {
  position: fixed;
  font-size:40px;
  color:white;
  margin-top:8px;
  margin-left:10px;
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px;
  border-color: white;
  outline: none;
  cursor: pointer;
}

span {
  font-size: 40;
  font-weight: 700;
  color: white;
  margin-left: 500px;
}

.card {
  margin: 2%;
  height: 250px;
  width: 200px;
  float: left;
  line-height: 20pt;
  text-align: center;
  background: white;
  opacity: 0.7;
  border-radius: 5px;
  color: white;
  display: inline-block;
  color: black;
  box-shadow: 5px 5px 5px grey;
  transition: 0.3s;
}

.container input[type=checkbox] {
  display:none;
}

.card:hover {
  transform: scale(1.1);
}

#editableFeild {
  margin-top: 1%;
  height: 30px;
  width: 200px;
  font-size: 20px;
  outline: none;
  border:2px solid #3498db;
  border-radius: 20px;
  border-color:rgb(10,10,10,0.4);
  text-align: center;
  background: white;
  color: black;
}

#readOnlyFeild {
  margin-top: 1%;
  height: 30px;
  width: 200px;
  font-size: 20px;
  outline: none;
  border:2px solid #3498db;
  border-radius: 20px;
  border-color:rgb(250,250,220,0.7);
  text-align: center;
  background: white;
  color: rgba(0, 0, 0, 0.6);
}

input[type=checkbox]:checked + .card {
  background: rgb(57,255,20,0.7);
}

.container {
  margin-top: 2%;
  height: 80%;
  overflow:scroll;
  background-color: rgba(220, 220, 220,0.7);
}

.addPlayer {
  position:fixed;
  width: 70px;
  height: 70px;
  margin-left: 89%;
  margin-top: 1%;
  margin-right: 1%;
  border: 2px solid #4CAF50;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
}

.blank {
 height: 500px;
 width: 50px;
 background:white;
}

button[type=submit] {
  position:fixed;
  width: 70px;
  height: 70px;
  margin-left: 89%;
  margin-top: 1%;
  margin-right: 1%;
  border: 2px solid #4CAF50;
  border-radius: 50%;
  color: black;
  font-size: 40px;
}

html,body {
  background: rgba(220, 220, 220,0.7);
  font-family:  Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
