.header {
  width: 100%;
  height: 10%;
  border-radius: 40px;
  display: flex;
  text-align: center;
  vertical-align: center;
  background-color:rgba(10,10,10,0.4);
}

#backButton {
  position: fixed;
  font-size:40px;
  color:white;
  margin-top:8px;
  margin-left:10px;
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px;
  border-color: white;
  outline: none;
  cursor: pointer;
}

form {
  margin-top: 5%;
  width: 60px;
  height: 30px;
  display: inline-block;
}

span {
  font-size: 40;
  font-weight: 700;
  color: white;
  margin: auto;
}

.card {
  margin: 2%;
  height: 250px;
  width: 200px;
  float: left;
  line-height: 20pt;
  text-align: center;
  background: white;
  opacity: 0.7;
  border-radius: 5px;
  color: white;
  display: inline-block;
  color: black;
  box-shadow: 5px 5px 5px grey;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

#viewButton {
  padding: 0;
  font-size: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-color: black;
  background: white;
  outline: none;
  opacity: 0.7;
  border-radius: 50%;
  color: black;
  cursor: pointer;
}

#editButton {
  margin-top: 5%;
  margin-right: 15%;
  margin-bottom: 0;
  background: none;
  border: 2px solid #4CAF50;
  text-align:center;
  border-radius: 50%;
  font-size: 13px;
  width: 30px;
  height: 30px;
  outline: none;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}

#editButton:hover {
  color: brown;
  border-color: black;
  transform: scale(1.3);
}

#deleteButton {
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 0;
  background: none;
  border: 2px solid red;
  text-align:center;
  border-radius: 50%;
  font-size: 15px;
  width: 30px;
  height: 30px;
  color: black;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

#deleteButton:hover {
  transform: scale(1.3);
  color:red;
  border-color: black;
}

.container {
  margin-top: 2%;
  height: 80%;
  overflow:scroll;
  background-color: rgba(220, 220, 220,0.7);
}

.container::-webkit-scrollbar { 
  display: none; 
} 

.addMatch {
  position:fixed;
  width: 70px;
  height: 70px;
  margin-left: 89%;
  margin-top: 1%;
  margin-right: 1%;
  border: 2px solid #4CAF50;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
}

.blank {
 height: 500px;
 width: 50px;
 background:white;
}

#model {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  display: none;
  background-color:rgba(0,0,0,0.4);
}

#popup {
  margin: 40%;
  width: 150px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color:white;
}

button[type=submit] {
margin:auto;
 height: 150px;
 width: 150px;
 background:black;
 color: white;
}

html,body {
  background: rgba(220, 220, 220,0.7);
  font-family:  Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
