.header {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color:rgba(10,10,10,0.4);
}

#profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.tableview {
  border: none;
}

.tableview, td {
  padding-top: 10px;
}

#backButton {
  font-size:40px;
  color:white;
  margin-top:10px;
  margin-left:10px;
  background: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px;
  border-color: white;
  outline: none;
  cursor: pointer;
}

.container {
  padding-top: 5%;
}

.inner_container {
  margin-left: 35%;
  padding-left: 5%;
  margin-top: 5%;
  border-radius: 5%;
  display: flex;
  align-items: center;
  vertical-align: center;
  width: 30%;
  height: 70%;
  background: white;
}

html, body {
  background: grey;
}
